<!DOCTYPE html>
<html>
  <head>
    <title>Wildfire Text Alerts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- https://stackoverflow.com/questions/45314910/bulma-css-framework-columns-not-stacking-on-chrome-mobile-browser saved my ass -->
    <!-- note to self: rtfm -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/0b8b9f35bf.js", crossorigin: "anonymous" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
